<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.PROVIDE_TRUST_AGENT" />

    <application
        android:allowBackup="false"
        android:label="WatchTrust"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WatchTrustAgent"
            android:exported="true"
            android:permission="android.permission.BIND_TRUST_AGENT">
            <intent-filter>
                <action android:name="android.service.trust.TrustAgentService" />
            </intent-filter>
            <meta-data
                android:name="android.service.trust.trustagent"
                android:resource="@xml/trust_agent" />
        </service>

        <service
            android:name=".WearBridgeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/watchtrust/"
                    android:scheme="wear" />
            </intent-filter>
        </service>

    </application>
</manifest>
